.projects-container{
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2{
    font-family: 'PT Serif Caption', serif;
    font-size: 2.5rem;
    margin: 1rem;
  }
}
